# MongoDB
MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/arrstack
MONGODB_DB=arrstack

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# TMDB (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=your_tmdb_v4_token

# qBittorrent (le PC perso de Nico)
QBIT_URL=http://82.66.229.27:8080
QBIT_USER=admin
QBIT_PASSWORD=adminadmin

# Jellyfin
JELLYFIN_URL=http://82.66.229.27:8096
JELLYFIN_API_KEY=your_jellyfin_api_key

# Cron secret (used to authenticate cron route)
CRON_SECRET=change_me_long_random
